/*
    #F2D9BB
    #A6927B
    #50BFA0
    #41A693
    #3B8C8C

 */


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
}

a {
    color: inherit;
    text-decoration: none;
}

.header {
    background: #F2D9BB;
    overflow: hidden;
}

.logo {
    background: #FFF;
    height: 50px;
    width: 50px;
    display: block;
    float: left;
}

.leftNavigation {
    list-style: none;
    float: left;
}

.leftNavigation li {
    float: left;
}

.leftNavigation a {
    display: block;
    padding: 16px;
    font-size: 12px;
    text-transform: uppercase;
}

.rightNavigation {
    list-style: none;
    float: right;
}

.rightNavigation a {
    display: block;
    padding: 16px;
    font-size: 12px;
    text-transform: uppercase;
}

.pageHeader {
    background: #41A693;
    color: #F2F2F2;
    padding: 40px;
    text-align: center;
    font-size: 45px;
    font-weight: lighter;
    font-family: "Amatic SC";
}

.main {
    width: 800px;
    margin: 0 auto;
    padding-top: 24px;
    padding-bottom: 120px;
}

.annonce {
    display: block;
    position: relative;
    min-height: 50px;
    padding-left: 75px;
    margin-bottom: 12px;
    background: #FBEEDF;
}

.annonceImage {
    width: 75px;
    height: 75px;
    position: absolute;
    left: 0;
    top: 0;
    background: #A6927B;
    padding: 18px;
}

.annonceContent {
    font-size: 12px;
    padding: 12px;
}

.annonceName {
    font-weight: bold;
    text-transform: uppercase;
}

.header-details {
    font-family: "Open Sans";
    font-size: 14px;
    opacity: .7;
    margin-top: 8px;

    b {
        font-weight: normal;
    }
}

.orderSummary {
    padding: 12px 0;
    font-style: italic;
    border-top: 1px solid #ccc;
    width: 400px;
}

.buyBox {
    width: 300px;
}

.buyBox select {
    display: block;
    width: 50%;
    float: left;
    background: #DDD;
    border: 0;
    border-radius: 5px 0 0 5px;
    height: 36px;
}

.buyBox button {
    float: left;
    width: 50%;
    border: 0;
    background: #50BFA0;
    color: #FFF;
    display: block;
    font-size: 14px;
    text-transform: uppercase;
    height: 36px;
    margin-left: -100px;
    border-radius: 0 5px 5px 0;
}

.annonceDescription {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 1.5;
}

.annonceDescription p {
    margin-bottom: 12px;
}

form {
    width: 600px;
    margin: 0 auto;
    padding-top: 24px;
}

label {
    display: block;
    font-size: 14px;
    color: #999;
    width: 200px;
    float: left;
    text-align: right;
    padding: 10px 24px;
}

input {
    border: none;
    padding: 8px;
    border-bottom: 2px solid #ddd;
    width: 400px;
    margin-bottom: 24px;
    font-family: "Open Sans";
    font-size: 18px;
    float: left;
}

input:focus {
    outline: none;
    background: #ddd;
}

textarea {
    border: none;
    padding: 8px;
    width: 400px;
    margin-bottom: 24px;
    font-family: "Open Sans";
    font-size: 18px;
    float: left;
    background: #ddd;
    height: 150px;
}

textarea:focus {
    outline: none;
}

form button {
    margin-left: 200px;
    display: block;
    width: 400px;
    background: #50BFA0;
    border: none;
    color: #FFF;
    font-size: 18px;
    padding: 12px;
}

.homePanel {
    background: #41A693;
    color: #fff;
    height: 500px;
    padding: 150px;
    position: relative;
    text-align: center;
}

.homePanel-text {
    line-height: 1.5;
    font-size: 18px;
    margin-bottom: 48px;
}

.homePanel-cta {
    border: 1px solid #fff;
    color: #fff;
    display: inline-block;
    padding: 12px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}

.homePanel-cta:hover {
    background: #fff;
    color: #41A693;
}
